<div class="comments">
  {{#each this}}
  <section class="panel panel-default">
    <div class="panel-heading">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="panel-body">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>