<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <header class="row">
      <h1>
        <a href="/">Tech Blog Infinity</a>
      </h1>
      <nav class="nav nav-tabs">
          <a href="/">homepage</a>
          <a href="/dashboard">dashboard</a>
        {{#if loggedIn}}
          <a id="logout" role="button">logout</button>
          {{else}}
          <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      &copy Tech Blog Infinity
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>