<section>
  <h3><a href="/dashboard/add">Create New Post</a></h3>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a class="btn btn-default" href="/dashboard/edit/{{post.id}}" role="button">Edit post</a>
      <p></p>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}