<section>
  <h2>Create New Post</h2>

  <form class="new-post">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
    <div class="form-group">
      <label for="post-url">Post</label>
      <textarea class="form-control" id="post-url" name="post-url"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a class="btn btn-default" href="/dashboard/edit/{{post.id}}" role="button">Edit post</a>
      <p></p>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>